---
import Layout from '../layouts/Layout.astro';
import Header from '../components/sections/Header.astro';
import Hero from '../components/sections/Hero.astro';
import Problem from '../components/sections/Problem.astro';
import HowItWorks from '../components/sections/HowItWorks.astro';
import Research from '../components/sections/Research.astro';
import Rails from '../components/sections/Rails.astro';
import Stack from '../components/sections/Stack.astro';
import Footer from '../components/sections/Footer.astro';
---

<Layout>
  <Header />
  <main id="main">
    <Hero />
    <Problem />
    <HowItWorks />
    <Research />
    <Rails />
    <Stack />
  </main>
  <Footer />
</Layout>
